@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Champagne";
  src: url('../public/font/ChampagneAndLimousinesBold-myr2.ttf');
}

@font-face {
  font-family: "Fontspring";
  src: url('../public/font/fontspring-demo-27.ttf');
}

body {
  overflow-x: hidden;
  background-image: url('../public/dot-bg.png');
  background-size: 45px, 45px;
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar-font {
  font-family: "Champagne", sans-serif;
}

.banner-font {
  font-family: "Fontspring", sans-serif;
}